{% extends 'base.html' %}

{% block title %}Windows | Urblog{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-12">
        <h1 class="text-4xl font-bold text-gray-800">Windows</h1>
        <a href="{% url 'create_post' %}?next={{ request.path }}" 
        class="font-semibold mt-4 inline-block px-4 py-2 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
         Crear nuevo post
     </a>
    </div>

    <!-- Lista de Posts (versión tarjetas centradas) -->
<div class="flex flex-col items-center space-y-6">
    {% for post in posts %}
    <div class="text-justify bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow w-full max-w-2xl"> <!-- Ancho máximo ajustable -->
        {% if post.image %}
            <img 
                src="{{ post.image.url }}" 
                alt="{{ post.title }}" 
                class="w-full h-auto object-cover" <!-- Imagen conserva su relación de aspecto -->
            >
        {% endif %}
        <div class="p-6">
            <h2 class="text-xl font-bold">{{ post.title }}</h2>
            <p class="mt-2 text-gray-600 whitespace-pre-line">{{ post.content }}</p>
                        <div class="mt-4 flex justify-between text-sm text-gray-500">
                <span>{{ post.author.username }}</span>
                <span>{{ post.created_at|date:"d/m/Y" }}</span>
            </div>
            <!-- Botones de edición/eliminación -->
            {% if post.author == request.user or request.user.is_superuser %}
            <div class="mt-4 flex space-x-2">
                <a href="{% url 'edit_post' post.id %}?next={{ request.path }}" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-1 text-center me-2 mb-2">
                    Editar
                </a>
                <a href="{% url 'delete_post' post.id %}?next={{ request.path }}" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-1 text-center me-2 mb-2">
                    Eliminar
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <div class="text-center py-12">
        <p class="text-gray-500">No hay posts sobre Windows aún.</p>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}